.button{
    margin:30px auto 10px auto;
    display:block;
    padding: 15px 45px 15px 45px;
    font-family: Lato, sans-serif;
    border: 1px solid rgb(139, 27, 83);
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 0.932);
    color: inherit;
    cursor: pointer;
    font-size: 0.9rem;
    color: rgb(139, 27, 83);
    font-weight: bold;
}

.button:hover{
	color: rgb(139, 27, 83);
	
	background-color: rgba(250, 167, 239, 0.2);
}

.container{
    text-align: center;
}

.container p{
    font-family: Lato, sans-serif;
    font-size: 20px;
}