.remove{
	background: url('../../components/layout/logo/remove.png');
	height: 20px;
	width: 20px;
	border: none;
	cursor: pointer;
    margin: 0 10px;
}

.add{
	background: url('../../components/layout/logo/add.png');
	height: 20px;
	width: 20px;
	border: none;
	cursor: pointer;
	margin: 0 10px;
}

.add:hover{
	color: rgb(139, 27, 83);
	border-radius: 50%;
	background-color: rgba(250, 167, 239, 0.2);
}

.remove:hover{
	color: rgb(139, 27, 83);
	border-radius: 50%;
	background-color: rgba(250, 167, 239, 0.2);
}

.img_name{
    display: grid;
    place-items: center;
    font-size: 18px;
}

.img_name img{
    max-width: 200px;
    max-height: 170px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 5px 8px 15px -3px rgba(109, 109, 109, 0.267);
}

.amount, .price{
    font-size: 18px;
}

.sum{
    font-size: 18px;
    font-weight: bold;
}

.remove_all{
	background: url('../../components/layout/logo/cancel.png');
	height: 25px;
	width: 25px;
	border: none;
	cursor: pointer;
}

.remove_all:hover{
	color: rgb(139, 27, 83);
	
	background-color: rgba(250, 167, 239, 0.2);
}