.container{
    display: flex;
}

.item_box{
    min-height: 100vh;
    width: 65%;
    background-color: white;
    box-shadow: 3px 8px 31px 1px rgb(109, 109, 109);
    border-radius: 5px;
    z-index: 1;
}

.total_box{
    min-height: 100vh;
    width: 35%;
    background-color: rgb(206, 179, 202);
    box-shadow: 5px 8px 15px -3px rgba(109, 109, 109, 0.267);
    margin-left: -4px;
    border-radius: 5px;
    padding: 0px 20px;
}

.total_box h1, .total_box h2{
    font-size: 23px;
}

.items{
    border-collapse: collapse;
    table-layout: fixed; 
    width: 100%;
    font-family: Lato, sans-serif;
    border-spacing: 50px 0;
    overflow-x: auto;
}

.items td, .items th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.items th:first-child {
    padding-left: 40px;
}

.items td{
    text-align: center;
}

.total_box hr{
    margin-top: 55px;
}

.total_box{
    text-align: center;
}

.button{
    margin:30px auto 10px auto;
    display:block;
    padding: 15px 20px 15px 20px;
    font-family: Lato, sans-serif;
    border: 1px solid rgb(139, 27, 83);
    border-radius: 5px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font-size: 0.9rem;
    color: rgb(139, 27, 83);
    font-weight: bold;
}

.button:hover{
	color: rgb(139, 27, 83);
	
	background-color: rgba(250, 167, 239, 0.2);
}

/* Delivery Form */

.name, .full_address, .address, .contact, .delivery_type, .date{
    display: flex;
}

.input input[type=text], .input input[type=email], .input input[type=phone], .input input[type=datetime-local]{
    float: left;
    width: 80%;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(139, 27, 83);
    resize: vertical;
    margin: 15px 0;
}

.input input[type=datetime-local]{
    width: 50%;
}

.input{
    width: 100%;
}

.address input[type=text]{
    width: 90%;
}

.input input[type=text]:focus{
    border: 3px solid rgb(139, 27, 83);
    background-color: rgba(250, 167, 239, 0.2);
}

.input input[type="checkbox"] {
    appearance: none;
    margin: 15px 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(139, 27, 83);
    border-radius: 3px;
    transition: box-shadow .3s;
}

.input input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
}

.input input:checked{
    box-shadow: inset 0 0 0 20px rgb(139, 27, 83);
}

.input label, .input input{
    display: block;
    text-align: left;
}

.input label{
    margin-top: 5px;
    font-size: 14px;
}

@media screen and (max-width: 1120px){
    .name, .full_address, .address, .contact, .delivery_type, .date{
        display: grid;
    }

    .address input[type=text]{
        width: 80%;
    }
}

@media screen and (max-width: 700px){
    .container{
        display: grid;
    }

    .item_box{
        min-height: 100vh;
        width: 100%;
        box-shadow: 3px 8px 31px 1px rgb(109, 109, 109);
    }
    
    .total_box{
        min-height: 100vh;
        width: 100%;
        box-shadow: 3px 8px 31px 1px rgb(109, 109, 109);
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    .form{
        display: inline-block;
        width: 80%;
        margin-right: 0;
    }

    .form .input{
        width: 100%;
    }


    .input input[type=text], .input input[type=email], .input input[type=phone], .input input[type=datetime-local]{
        width: 90%;
    }

}

.payment{
    background-color: white;
    margin: 0 auto;
    width: 35%;
    display: grid;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-family: Lato, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.payment .price{
    font-size: 22px;
    font-weight: bold;
}

.payment p{
    font-size: 20px;
    margin: 15px 0;
}