body{
	font-family: Lato, sans-serif;
	margin: 0;
	background-color: #dadada;
}

.nav{
	width: 100%;
	background-color: rgb(206, 177, 177);
	font-weight: bold;
}

.nav ul{
	list-style: none;
	margin: 0;
	display: flex; /* horizontal*/
	justify-content: center; /*CENTER NAVBAR*/
	align-items: center; /*center*/
	padding: 15px 0 15px 0;
}

.nav li a{
	text-decoration: none;
	color: white;
	position: relative;
	transition: all ease-in-out 250ms;
	text-align: center;
	font-size: larger;
}

.nav li a::after{
	content: '';
	position: absolute;
	display: block;
	height: 4px;
	width: 0%;
	background-color: rgb(143, 47, 95);
	bottom: -14px;
	transition: all ease-in-out 250ms;
}

.nav li a:hover::after{
	width: 100%;
}

.nav li a:hover{
	color: rgb(143, 47, 95);
}

.nav li{
	padding: 0 25px 0 25px;
}