.nav{
	width: 100%;
	background-color: white;
	font-weight: bold;
	font-family: Lato, sans-serif;
	box-shadow: 0 0 7px 0 rgb(197, 197, 197);
}

.logo{
	padding-right: 20px;
}

.list{
	list-style: none;
	margin: 0;
	display: flex; /* horizontal*/
	justify-content: center; /*CENTER NAVBAR*/
	align-items: center; /*center*/
	padding: 25px 0 25px 0;
}

@media (max-width: 1040px){
	.list{
		display: grid;
	}

	.cart{
		display: none;
	}

	.drop{
		top: 290px !important;
	}
}

.list_item a{
	text-decoration: none;
	color: rgb(199, 144, 182);
	position: relative;
	transition: all ease-in-out 250ms;
	text-align: center;
	font-size: larger;
	opacity: 1;
}

.list_item a::after{
	content: '';
	position: absolute;
	display: block;
	height: 4px;
	width: 0%;
	bottom: -14px;
	transition: color ease-in-out 300ms;
}

.list_item:hover::after{
	width: 100%;
}

.list_item a:hover{
	color: rgb(139, 27, 83);
}

.list_item{
	padding: 10px 25px 10px 25px;
	border-radius: 5px;	
}

.list_item:hover{
	background-color: rgba(250, 167, 239, 0.2);
}

.list_item:hover a{
	color: rgb(139, 27, 83);
}


/* Dropdown menu */

.list_item:hover .drop{
	display: block;
}

.drop{
    position: absolute;
    top: 135px;
    box-shadow: 0 0 10px gray;
    background-color: white;
    flex-direction: column-reverse;
    opacity: 0.95;
	display: none;
	list-style: none;
	text-align: center;
	padding-inline-start: 0;
	border-radius: 3px;
	z-index: 1;
}


.drop li a{
    color: rgb(167, 109, 145);
	font-weight: bold;
}

.drop li{
	padding: 15px 36px 15px 36px;
}

.drop li:hover{
	background-color: rgba(250, 167, 239, 0.2);
}

.list_item .drop li a{
	color: rgb(167, 109, 145);
}

.list_item .drop li:hover a{
	color: rgb(139, 27, 83);
}