.product_box{
    min-height: 80vh;
    width: 65%;
    background-color: white;
    box-shadow: 3px 8px 31px 1px rgb(109, 109, 109);
    border-radius: 5px;
    z-index: 1;
    font-family: Lato, sans-serif;
}

.additions_box{
    min-height: 80vh;
    width: 35%;
    background-color: rgb(206, 179, 202);
    box-shadow: 5px 8px 15px -3px rgba(109, 109, 109, 0.267);
    margin-left: -4px;
    border-radius: 5px;
    font-family: Lato, sans-serif;
}

.container{
    display: flex;
}

.additions_box div, .additions_box h2{
    margin-left: 40px;
}

.additions_box select{
    background-color: rgb(253, 253, 253);
    width: 415px;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(139, 27, 83);
    resize: vertical;
}

.additions_box select:focus{
    border: 3px solid rgb(139, 27, 83);
}

.additions_box select:hover{
    background-color: rgb(255, 228, 242);
}

.additions_box select option:checked{
    background-color: rgb(245, 182, 240);
}

.additions_box select option:hover{
    background-color: rgb(245, 182, 240);
}

