.product_box{
    min-height: 60vh;
    width: 65%;
    background-color: white;
    box-shadow: 3px 8px 31px 1px rgb(109, 109, 109);
    border-radius: 5px;
    z-index: 1;
    font-family: Lato, sans-serif;
    padding-top: 15vh;
}

.additions_box{
    min-height: 80vh;
    width: 35%;
    background-color: rgb(206, 179, 202);
    box-shadow: 5px 8px 15px -3px rgba(109, 109, 109, 0.267);
    margin-left: -4px;
    border-radius: 5px;
    font-family: Lato, sans-serif;
}

.addition_box form, .text{
    width: 100%;
}

.container{
    display: flex;
}

.additions_box div, .additions_box h2, .additions_box textarea{
    margin-left: 40px;
    font-size: 20px;
}

.additions_box textarea{
    margin-left: 0;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(139, 27, 83);
    resize: vertical;
    min-width: 46%;
}

.additions_box select{
    background-color: rgb(253, 253, 253);
    min-width: 55%;
    padding: 15px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(139, 27, 83);
    resize: vertical;
}

.additions_box select:focus{
    border: 3px solid rgb(139, 27, 83);
}

.additions_box select:hover{
    background-color: rgb(255, 228, 242);
}

.additions_box select option:checked{
    background-color: rgb(245, 182, 240);
}

.additions_box select option:hover{
    background-color: rgb(245, 182, 240);
}

/* CAKE */

.cake {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 300px;
    height: 270px;
    border-radius: 150px/75px;
    background-color: wheat;
    border: 1px solid black;
    background-repeat: no-repeat;
}

.cake::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 150px;
    border-radius: 150px/75px;
    content: '';
    border: 1px solid black;
}

.biscuit_top {
    width: 200px;
    height: 50px;
    background-color: wheat;
}

.biscuit_bottom {
    width: 200px;
    height: 50px;
    background-color: wheat;
    border-radius: 0 0 0 10px;
}

.filling {
    width: 200px;
    height: 25px;
    background-color: wheat;
}

.slice {
    width: 200px;
    height: 125px;
    background-color: wheat;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 10px 30px 10px 11px;
    margin: 0 auto;
    border: 1px solid black;
}

/* BUTTON */

.button{
    display:block;
    padding: 15px 20px 15px 20px;
    font-family: Lato, sans-serif;
    border: 1px solid rgb(139, 27, 83);
    border-radius: 5px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font-size: 0.9rem;
    color: rgb(139, 27, 83);
    font-weight: bold;
    margin: 30px auto 20px auto;
}

.button:hover{
	color: rgb(139, 27, 83);
	background-color: rgba(250, 167, 239, 0.2);
}

.button:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px){
    .container{
        display: grid;
    }

    .product_box{
        width: 100%;
        box-shadow: 3px 8px 31px 1px rgb(109, 109, 109);
    }
    
    .additions_box{
        width: 100%;
        box-shadow: 3px 8px 31px 1px rgb(109, 109, 109);
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    .addition_box form, .text{
        display: inline-block;
    }

    
    .additions_box div, .additions_box h2, .additions_box textarea{
        margin-left: auto;
        text-align: center;
    }

    .addition_box select{
        width: 55%;
    }
    
    .additions_box textarea{
        width: 50%;
    }

}