*::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card{
  box-shadow: 0 0 5px 3px gray;
  background-color: rgba(255, 255, 255, 0.65);;
  border-radius: 2px;
  max-width: 360px;
  min-height: 500px;
  margin: 0 auto 30px auto;
  padding-bottom: 0;
}

/* TO DO! */
/* @media (max-width: 450px){

  .card{
    max-width: 100vh !important;
  }

  .card_img{
    width: 100% !important;
  }

} */

.card_img{
  height: 300px;
  width: 360px;
  box-shadow: 0 0 5px 1px gray;
}

.card:hover {
  transform: scale(1.05);
}

.card_body{
  margin: 5px 5px auto 5px;
  flex-grow: 1;
}

.title{
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 20px;
}

.description{
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 16px;
  width: 360px;
  min-height: 50px;
}

.price{
  font-family: Lato, sans-serif;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.container{
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 0;
  display: flex;
  text-align: center;
  align-items: center;
}

.container input[type="number"]{
  font-family: Lato, sans-serif;
  float: right;
  max-width: 50px;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(167, 109, 145);
  border: 1px solid lightgray;
  padding: 0.7rem !important;
}

.container .btn{
  font-family: Lato, sans-serif;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  width: 80%;
  padding: 0.7rem;
  cursor: pointer;
  float: left;
  font-size: 0.9rem;
  color: rgb(167, 109, 145);
}

.container a{
  text-decoration: none;
}

.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover{
  color: rgb(139, 27, 83);
  
  background-color: rgba(250, 167, 239, 0.2);
}

.grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
}

.product_title{
  color: black;
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 30px;
}

.container input[type="number"]{
  margin: 0;
  padding: 15px;
}