*::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card{
  box-shadow: 0 0 5px 3px gray;
  background-color: rgba(255, 255, 255, 0.65);;
  border-radius: 2px;
  min-width: 450px;
  min-height: 600px;
  margin: 0 auto 30px auto;
  padding-bottom: 0;
}

/* TO DO! */
/* @media (max-width: 450px){

  .card{
    max-width: 100vh !important;
  }

  .card_img{
    width: 100% !important;
  }

} */

.card_img{
  height: 350px;
  width: 450px;
  box-shadow: 0 0 5px 1px gray;
}

.card:hover {
  transform: scale(1.05);
}

.card_body{
  margin: 5px 5px auto 5px;
  flex-grow: 1;
}

.title{
  font-family: Lato, sans-serif;
  text-align: center;
}

.description{
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  width: 440px;
  min-height: 50px;
}

.price{
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin: auto;
}

.container{
  padding-top: 20px;
  margin-bottom: 0;
  display: flex;
}

.container .input{
  font-family: Lato, sans-serif;
  float: right;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  padding: 0.9rem 0.8rem 0.9rem 0.8rem;
  font-size: 1rem;
  color: rgb(167, 109, 145);
	font-weight: bold;
}

.container .btn{
  font-family: Lato, sans-serif;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  color: inherit;
  width: 80%;
  padding: 0.9rem;
  cursor: pointer;
  float: left;
  font-size: 1rem;
  color: rgb(167, 109, 145);
  margin:0 auto;
  
}

.btn:hover{
  color: rgb(139, 27, 83);
  
  background-color: rgba(250, 167, 239, 0.2);
}

.grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
}

.product_title{
  color: black;
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 2.5rem;
}